form {
  .field {
    textarea,
    input[type=number],
    input[type=text],
    input[type=email],
    input[type=password] {
      width: 300px;
      padding: 5px;
      border: 1px solid #CCC;
    }
  }

  .actions {
    border-top: 1px solid #DDD;
    padding-top: 10px;
  }
}

form.new_user,
form.edit_user {
  label {
    display: inline;
    font-weight: bold;
  }

  i, em {
    color: #888;
    font-size: 90%;
  }
}
