<h1>Products</h1>

<%= form_tag(products_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>

<br/>

<table class="table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <% cache product do %>
        <tr>
          <td><%= image_tag(product.picture, width: 50, height: 50) if product.picture.present? %></td>
          <td><%= link_to product.title, product %></td>
          <td><%= number_to_currency product.price %></td>
          <td><%= truncate product.description, length: 120 %></td>
          <td>
            <%= link_to 'Show', product %>
            |
            <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>

<br/>

<%= link_to 'New Product', new_product_path, class: 'link-btn' %>
